<div class="footer">
    <app-social-link
        link="https://www.linkedin.com/in/youri-janssen/"
        iconUrl="assets/socials/linkedin.png"></app-social-link>
    <app-social-link
        link="https://www.facebook.com/profile.php?id=100008844348413"
        iconUrl="assets/socials/facebook.png"></app-social-link>
    <app-social-link
        link="https://www.instagram.com/object.create.youri/"
        iconUrl="assets/socials/instagram.png"></app-social-link>
    <app-social-link
        link="https://github.com/yourijanssen"
        iconUrl="assets/socials/github.png"></app-social-link>
    <!-- Add more social links as needed -->
</div>
