/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9e6cf;
    color: black;
    height: 100px;
    padding: 0 20px; /* Adjust padding for better spacing */
}

/* Logo */
.logo {
    height: 90px;
    width: 150px;
}

/* Navigation Links */
.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
}

.nav-links li {
    margin-right: 20px;
}

/* Common styles for navigation links */
.navlink {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
    display: inline-block;
    position: relative;
    transition: color 0.3s ease-in-out;
}

/* Underline effect on hover */
.navlink::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.navlink:hover::before {
    color: #001524;
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Burger Menu Button (hidden on larger screens) */
.burger-menu {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #f9e6cf;
    border: none;
    margin-right: 20px;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 800px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: #eebea3;
        text-align: left;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
    }

    .nav-links.show {
        display: flex;
    }

    .burger-menu {
        display: block;
    }
}
