/* the container for entire navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4F6F52;
  color: white;
  width: 100%;
  height: 50px;
  margin-bottom: -20px;
}

/* the size of the logo itself */
.logo {
  height: 150px;
  width: 150px;
}

/* the menu burger button */
.menu-button {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #4F6F52;
  border: none;
  margin-right: 20px;
  color: white;
}

/* The UL list of the 3 navbar links, project, about, contact */
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-right: 20px;
  color: white;
}

/* The link elements from the links */
.nav-links a {
  text-decoration: none;
  color: #EBF3E8;
  padding: 10px;
  display: inline-block;
  position: relative;
  transition: color 0.3s ease-in-out; /* Add a smooth color transition on hover */

  /* Add a subtle underline effect on hover */
  &:hover {
    color: #001524; /* Change color on hover */
  }

  /* Add a bottom border for an underline effect */
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #EBF3E8;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
  }

  /* Scale the underline effect on hover */
  &:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

@media only screen and (max-width: 600px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4F6F52;

  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    margin: 10px;
  }

  .menu-button {
    display: block;
  }
}
