/* navbar.component.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4F6F52;
  color: white;
  width: 100%;
  height: 50px;
}

.logo {
  height: 150px;
  width: 150px;
}

.menu-button {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #4F6F52;
  border: none;
  margin-right: 20px;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;

}

.nav-links li {
  margin-right: 20px;
  color: white;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 600px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4F6F52;

  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    margin: 10px;
  }

  .menu-button {
    display: block;
  }
}
