<!-- Navbar Container -->
<div class="navbar">
    <!-- Logo and Home Link -->
    <a routerLink="/" class="logo-link" (click)="closeMenu()">
        <img class="logo" src="assets/final logo.png" alt="no logo" />
    </a>

    <!-- Burger Menu Button -->
    <button class="burger-menu" (click)="toggleMenu()">☰</button>

    <!-- Navigation Links -->
    <ul class="nav-links" [ngClass]="{ show: isMenuOpen }">
        <li>
            <a class="navlink" routerLink="/projects" (click)="closeMenu()">Projects</a>
        </li>
        <li>
            <a class="navlink" routerLink="/about" (click)="closeMenu()">About</a>
        </li>
        <li>
            <a class="navlink" routerLink="/contact" (click)="closeMenu()">Contact</a>
        </li>
    </ul>
</div>
