<div class="navbar">
    <a routerLink="/" (click)="closeMenu()">
        <img src="assets/final logo.png" alt="no logo" />
    </a>
    <button class="menu-button" (click)="toggleMenu()">☰</button>
    <ul class="nav-links" [ngClass]="{ show: isMenuOpen }">
        <li><a routerLink="/projects" (click)="closeMenu()">Projects</a></li>
        <li><a routerLink="/about" (click)="closeMenu()">About</a></li>
        <li><a routerLink="/contact" (click)="closeMenu()">Contact</a></li>
    </ul>
</div>
