.contact-container {
    background-color: #f9e6cf;
    margin-left: 15%;
    margin-right: 15%;
}

.contactTitle {
    background-color: #eebea3; /* Deep blue color */
    color: black;
    height: 100px; /* Increased height for a more prominent look */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 2px; /* Increased letter spacing for a stylish touch */
    font-size: 24px; /* Larger font size for emphasis */
    font-weight: bold; /* Bold text for emphasis */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); /* Subtle box shadow for depth */
}

.contactText {
    text-align: center; /* Center the text horizontally */
    font-size: 18px; /* Adjusted font size for better readability */
    color: black; /* Darkened text color for contrast */

    max-width: 600px; /* Set a maximum width for better readability on larger screens */
    margin: 0 auto; /* Center the text horizontally */
}

.contactText::before {
    content: '\201C'; /* Left double quotation mark */
    color: #2cb9c3;
    font-size: 1.5em;
    margin-right: 0.1em;
}

.contactText::after {
    content: '\201D'; /* Right double quotation mark */
    font-size: 1.5em;
    color: #2cb9c3;
    margin-left: 0.1em;
}

.contact-details {
    margin-top: 40px; /* Increased margin for better spacing */
    text-align: center; /* Center the text horizontally */
}

.contact-details p {
    margin-top: 40px; /* Increased margin for better spacing */
    text-align: center; /* Center the text horizontally */
    margin: 10px 0; /* Increased vertical margin for better separation */
    font-size: 16px; /* Adjusted font size for better readability */
    color: #333; /* Darkened text color for contrast */
}
