<!-- contact.component.html -->
<h2 class="contactTitle">Contact Me</h2>
<div class="contact-container">
    <p class="contactText">If you have any questions or feedback, feel free to reach out to me!</p>

    <div class="contact-details">
        <p>
            Email me at:
            <a href="mailto:yourijanssen123@gmail.com">yourijanssen123@gmail.com</a>
        </p>
        <p>More info: <a href="https://www.linkedin.com/in/youri-janssen/">LinkedIn Profile</a></p>
        <p>Call me at: <a href="tel:+31647223984">+31 647223984</a></p>
    </div>
</div>
