.project-info {
    display: flex;
    justify-content: space-between;
    background-color: #f9e6cf;
    border-bottom: 2px solid black;
}

.project-info:last-child {
    border-bottom: none;
}

.project-card-details {
    margin-right: 7%;
    margin-bottom: 4%;
    width: 100%;
    align-items: center;
    text-align: center;
}

.projectName {
    display: flex;
    justify-content: center;
    color: black;
    background-color: #bcd9c3;
    font-size: 25px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    height: 50px;
    min-width: 280px;
    width: 100%;
}

.projectDescription {
    font-size: 17px;
}

.technologies {
    font-size: 17px;
}

.imagecontainer {
    margin-top: 25px;
}

/* Slideshow Container Styles */
.slideshow-container {
    display: flex;
    max-width: 500px; /* Adjust max-width as needed */
    margin: auto;
}

/* Individual Image Styles */
.image {
    height: 300px;
    width: 500px;
    margin-right: -100%; /* Negative margin to overlap images */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Show the active image */
.image.active {
    opacity: 1;
}

@media screen and (max-width: 1000px) {
    .project-info {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: flex-start; /* Align items to the start of the container */
        font-size: 15px;
        padding-bottom: 5%;
    }

    .imagecontainer {
        margin-top: 0px;
    }

    .image {
        height: 100%;
        width: 100%;
        align-self: center;
    }
}

@media screen and (max-width: 800px) {
    .image {
        width: 100%;
    }
}
