<div *ngFor="let project of projects" class="project-info">
    <div class="project-card-details">
        <h3 class="projectName">{{ project.name }}</h3>
        <p>{{ project.description }}</p>
        <p>
            <b style="display: contents" class="projectDescription">Project description:</b>
            {{ project.descriptionProject }}
        </p>
        <p>
            <b style="display: contents" class="technologies">New technologies Learned:</b>
            {{ project.technologies }}
        </p>
        <a [href]="project.url" target="visit">View project source code</a>
    </div>
    <div class="imagecontainer">
        <!-- Slideshow Container -->
        <div class="slideshow-container">
            <!-- Images of projects -->
            <img
                *ngFor="let image of getImages(project); let i = index"
                class="image"
                [src]="image"
                alt="no image"
                [ngClass]="{ active: i === currentImageIndex }" />
        </div>
    </div>
</div>
