.project-info {
    display: flex;
    justify-content: space-between;
    background-color: #f9e6cf;
    border-bottom: 2px solid black; /* Add a bottom border */
}

/* Style for the last project card to remove the bottom border */
.project-info:last-child {
    border-bottom: none;
}

.projectName {
    color: black;
    background-color: #bcd9c3;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
}

.projectDescription {
    color: black;
    background-color: #bcd9c3;
    font-size: 17px;
    text-align: center;
    border-radius: 10px;
}

.technologies {
    color: black;
    background-color: #bcd9c3;
    font-size: 17px;
    text-align: center;
    border-radius: 10px;
}

.project-card-details {
    margin-right: 7%;
    height: 400px;
}

.image {
    height: 300px; /* Make the images cover the entire height of the container */
    width: 500px; /* Make the images cover the entire width of the container */
}

.imagecontainer {
    margin-top: 30px;
}

@media screen and (max-width: 800px) {
    .project-info {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: flex-start; /* Align items to the start of the container */
        font-size: 15px;
    }

    .Image {
        margin-top: 10px; /* Optional: Add some space between text and image */
        align-self: center;
        height: 200px;
        width: 350px;
        align-self: center;
    }
}
