.aboutTitle {
    background-color: black; /* Deep blue color */
    color: white;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px; /* Increased letter spacing for a stylish touch */
    font-size: 24px; /* Larger font size for emphasis */
    font-weight: bold; /* Bold text for emphasis */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); /* Subtle box shadow for depth */
}
.aboutContainer {
    background-color: #ece3ce;
    margin-left: 15%;
    margin-right: 15%;
}

.aboutSummery {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    margin-bottom: 50px;
}

.aboutSummery img {
    height: 220px;
    width: 220px;
}

@media screen and (max-width: 600px) {
    .aboutSummery {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: flex-start; /* Align items to the start of the container */
        font-size: 15px;
    }

    .aboutSummery img {
        margin-top: 10px; /* Optional: Add some space between text and image */
    }
}

.downarrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid #2cb9c3; /* Set the color of the arrow */
    margin: auto;
    animation: bounce 2s alternate;
}

/* Optional: Add a bounce animation */
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-7px);
    }
}

.aboutIntroduction {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

.aboutIntroduction::before {
    content: '\201C'; /* Left double quotation mark */
    color: #2cb9c3;
    font-size: 1.5em;
    margin-right: 0.1em;
}

.aboutIntroduction::after {
    content: '\201D'; /* Right double quotation mark */
    font-size: 1.5em;
    color: #2cb9c3;
    margin-left: 0.1em;
}
