<!-- about.component.html -->

<h2 class="aboutTitle">"Youri Janssen"</h2>
<div class="aboutContainer">
    <div class="aboutSummery">
        <b style="display: contents">Name:</b> Youri Janssen <br />
        <b style="display: contents">Job title:</b> Junior Software Developer <br />
        <b style="display: contents">Born:</b> 1997 <br />
        <b style="display: contents">Location:</b> The Netherlands <br />
        <b style="display: contents">Education:</b> Associate Degree Software Development
        <br />
        <b style="display: contents">Hobbies:</b> Cycling, Gaming, Exploring, Coding <br />
        <b style="display: contents"> Native Programming Language:</b> Typescript <br />
        <b style="display: contents">Framework and concept knowledge:</b> "OOP, Design Patterns and
        UML","NodeJs/Express", "Angular", "Mocha/Chai Testing", "Databases, MySql/Sequelize",
        "HTML/CSS"<br />
        <b style="display: contents">Learning Goals:</b> Security, Cloudcomputing, Architectural
        Patterns & CI/CD <br />
        <img src="assets/ffffSquare-fotor-20231014131645.png" alt="no image" />
    </div>

    <p class="aboutIntroduction">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in velit lectus. Vestibulum
        tincidunt augue eget mauris imperdiet, et efficitur justo euismod. Nulla facilisi. Integer
        eget vestibulum velit. Suspendisse quis feugiat turpis. Sed sollicitudin risus vel ultricies
        scelerisque. Vivamus at malesuada velit. Curabitur sodales lacus et ex pharetra, vel gravida
        mauris fermentum. Nunc ullamcorper libero at justo luctus, in consectetur elit tincidunt.
        Phasellus eu tortor ut nisi accumsan iaculis. Cras ultricies tellus ut eros dictum, eu
        mattis orci consectetur. Suspendisse sed enim ac libero dapibus rhoncus. Ut feugiat eros nec
        dolor vulputate, nec rhoncus elit fringilla. Proin dignissim justo id justo hendrerit, non
        lacinia nisi viverra. Donec vel tortor ac mi scelerisque ullamcorper. Sed vulputate
        efficitur nisl vel pharetra. In hac habitasse platea dictumst. Fusce venenatis, ex quis
        aliquet sodales, lacus nunc interdum tortor, a fringilla libero turpis ut ipsum. Sed
        sollicitudin ex et efficitur efficitur. Aliquam erat volutpat. Nullam nec fermentum arcu.
        Vestibulum laoreet dui
    </p>
</div>
