<!-- about.component.html -->
<div class="about-container">
  <h2>About Me</h2>

  <p class="about-introduction">
    Welcome to my portfolio! After a long period of hard work, I managed to
    become Youri Janssen, a passionate and dedicated backend developer with a
    creative background. After completing a Game Art study after high school, I
    discovered my passion was not for art but for coding and backend
    development. I love learning new things and thrive in collaborative
    environments. With my scrum and agile expertise, I excel as a team player.
    My game art background provides me with a unique creative perspective that
    enriches my programming skills. I'm known for my positive attitude,
    perseverance, and strong work ethic. I never shy away from challenges and
    continuously strive for innovative solutions. I'm always eager to expand my
    knowledge and never stop learning. I'm also a huge nerd. I love Star Wars,
    Lord of the Rings, and anything related to fantasy, sci-fi, and games. When
    I'm not coding, I love to still be a little creative by crocheting or
    playing on my bass guitar! Because I like to learn stuff and keep myself
    interested, I also like to dabble into some astronomy and other science
    subjects. Thank you for visiting my portfolio. Feel free to explore my
    projects and reach out if you have any inquiries or collaboration
    opportunities. I look forward to connecting with you!
  </p>
</div>
