.homeTitle {
    background-color: #eebea3;
    color: black;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.pageIntro {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 2px solid black;
}

.pageIntro::before {
    content: '\201C'; /* Left double quotation mark */
    color: #2cb9c3;
    font-size: 1.5em;
    margin-right: 0.1em;
}

.pageIntro::after {
    content: '\201D'; /* Right double quotation mark */
    font-size: 1.5em;
    color: #2cb9c3;
    margin-left: 0.1em;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
