.home-page {
    background-color: #ece3ce;
}

/* Updated Style for .homeTitle */
.homeTitle {
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.profile-image {
    max-width: 20%;
    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect on hover */
    margin-inline-start: 70%;
}

.profile-image:hover {
    transform: scale(1.04); /* Enlarge the image on hover for an interactive effect */
    filter: brightness(90%); /* Adjust brightness on hover for a subtle effect */
    cursor: pointer; /* Change cursor to indicate interactivity */
    display: block;
}

.myName {
    font-size: 28px; /* Adjust font size */
    color: black; /* Set text color */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow */
    font-weight: bold; /* Make the text bold */
    margin-bottom: 10px; /* Add spacing at the bottom */
    text-transform: uppercase; /* Convert text to uppercase */
}

.jobTitle {
    font-size: 18px; /* Adjust font size */
}

.Languages {
}
