.homeTitle {
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.home-container {
    background-color: #ece3ce;
    margin-left: 15%;
    margin-right: 15%;
}

.pageIntro {
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.introduction {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.profile-image {
    height: 220px;
    width: 220px;
    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect on hover */
}

.profile-image:hover {
    transform: scale(1.04); /* Enlarge the image on hover for an interactive effect */
    filter: brightness(90%); /* Adjust brightness on hover for a subtle effect */
    cursor: pointer; /* Change cursor to indicate interactivity */
    display: block;
}

@media screen and (max-width: 600px) {
    .introduction {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: flex-start; /* Align items to the start of the container */
        font-size: 15px;
    }

    .profile-image {
        margin-top: 10px; /* Optional: Add some space between text and image */
    }
}

.project-container {
    background-color: #ece3ce;
}

.project-info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ece3ce;
    border-top: 2px solid black;
}

.project-card-details {
    margin-right: 7%;
}

.Image {
    height: 300px; /* Make the images cover the entire height of the container */
    width: 500px; /* Make the images cover the entire width of the container */
}

@media screen and (max-width: 800px) {
    .project-info {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: flex-start; /* Align items to the start of the container */
        font-size: 15px;
    }

    .Image {
        margin-top: 10px; /* Optional: Add some space between text and image */
        height: 200px;
        width: 350px;
    }
}
