<!-- projects.component.html -->
<h2 class="projectTitle">"My Projects"</h2>
<div class="projects-container">
    <!-- project card container -->
    <div *ngFor="let project of projects" class="project-info">
        <!-- project details of projects -->
        <div class="project-card-details">
            <h3 class="projectName">{{ project.name }}</h3>
            <p>{{ project.description }}</p>
            <p>
                <b style="display: contents">Project description:</b>
                {{ project.descriptionProject }}
            </p>
            <p>
                <b style="display: contents">New technologies Learned:</b>
                {{ project.technologies }}
            </p>
            <a [href]="project.url" target="visit">View project source code</a>
        </div>
        <!-- images of projects -->
        <img class="Image" [src]="project.img1" alt="no image" />
    </div>
</div>
