.projectTitle {
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.project-container {
    background-color: #ece3ce;
}

.project-info {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding: 20px;
    background-color: #d2e3c8;
    margin-left: 15%;
    margin-right: 15%;
}

.ImageProject {
    position: absolute;
    height: 100%; /* Make the images cover the entire height of the container */
    width: 100%; /* Make the images cover the entire width of the container */
}

.ImageProject:nth-child(1) {
    top: 0; /* Adjust the top and left values to control the overlap */
    left: 0;
    z-index: 3; /* Adjust the z-index to control the stacking order */
}

.ImageProject:nth-child(2) {
    top: 20px; /* Adjust the top and left values to control the overlap */
    left: 20px;
    z-index: 2; /* Adjust the z-index to control the stacking order */
}

.ImageProject:nth-child(3) {
    top: 40px; /* Adjust the top and left values to control the overlap */
    left: 40px;
    z-index: 1; /* Adjust the z-index to control the stacking order */
}

.imageContainer {
    margin-right: 40px;
    margin-bottom: 40px;
    position: relative;
    height: 300px; /* Adjust the height and width according to your needs */
    width: 500px;
}
