/* About Summary */
.aboutSummery {
    display: flex;
    justify-content: space-between;
}

.text {
}

/* Image Styling */
img {
    padding-left: 50px;
    height: 220px;
    width: 220px;
}

.full-text {
    font-size: 19px;
    margin-bottom: 5px;
}

.title {
    font-weight: bold;
    color: black;
    text-decoration: underline;
    padding: 2px;
    width: 150px;
}

/* Responsive Styles */
@media screen and (max-width: 800px) {
    .aboutSummery {
        flex-direction: column;
        align-items: flex-start;
        font-size: 15px;
    }

    .aboutSummery img {
        align-items: center;
        align-self: center;
        margin-top: 40px;
    }
}
