<div class="aboutSummery">
    <div class="text">
        <div class="full-text"><b class="title">Name:</b> Youri Janssen</div>
        <div class="full-text"><b class="title">Job title:</b> Junior Software Developer</div>

        <div class="full-text"><b class="title">Born:</b> 1997</div>
        <div class="full-text"><b class="title">Location:</b> The Netherlands</div>
        <div class="full-text">
            <b class="title">Previous Education:</b> Bachelor of Arts, Arts & Economics at HKU
        </div>
        <div class="full-text">
            <b class="title">Current Education:</b> Associate Degree, Software Development at HVA
        </div>
        <div class="full-text">
            <b class="title">Hobbies:</b> Cycling, Gaming, Exploring, Travelling, Coding
        </div>
        <div class="full-text">
            <b class="title">Native Programming Language:</b>
            Typescript
        </div>
        <div class="full-text">
            <b class="title">Framework and concept knowledge:</b> Object Oriented Programming,
            Design Patterns, Unified Modeling Language, NodeJs/Express, Angular, Mocha/Chai &
            Jasmine Testing, Relational Databases, MySql/Sequelize, HTML/CSS
        </div>
        <div class="full-text">
            <b class="title">Learning Goals:</b> Security, Cloudcomputing, Architectural Patterns,
            New frameworks / programming languages & CI/CD
        </div>
    </div>
    <!-- about page image -->
    <img src="assets/ffffSquare-fotor-20231014131645.png" alt="no image" />
</div>
