<div class="aboutContainer">
    <div class="aboutSummery">
        <b style="display: contents">Name:</b> Youri Janssen <br />
        <b style="display: contents">Job title:</b> Junior Software Developer <br />
        <b style="display: contents">Born:</b> 1997 <br />
        <b style="display: contents">Location:</b> The Netherlands <br />
        <b style="display: contents">Previous Education:</b> Bachelor of Arts, Arts & Economics at
        HKU <br />
        <b style="display: contents">Current Education:</b> Associate Degree, Software Development
        at HVA
        <br />
        <b style="display: contents">Hobbies:</b> Cycling, Gaming, Exploring, Travelling, Coding
        <br />
        <b style="display: contents"> Native Programming Language:</b> Typescript <br />
        <b style="display: contents">Framework and concept knowledge:</b> Object Oriented
        Programming, Design Patterns, Unified Modeling Language, NodeJs/Express, Angular, Mocha/Chai
        & Jasmine Testing, Relational Databases, MySql/Sequelize, HTML/CSS<br />
        <b style="display: contents">Learning Goals:</b> Security, Cloudcomputing, Architectural
        Patterns, New frameworks / programming languages & CI/CD <br />
        <!-- about page image -->
        <img src="assets/ffffSquare-fotor-20231014131645.png" alt="no image" />
    </div>
</div>
